# python virtual env directory used for pre-commit
.venv
# Rust build artifacts
/target/
/bin/rg2fzf
/bin/shada2fzf
/bin/diffgrep
/bin/pickaxe-diff
nvim-linux-x86_64.tar.gz
nvim-linux-x86_64/
/tmp/nvim-linux-x86_64/
